
.jumbotron {
  color: white;
  background: #1F1528;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;              /* leave space for fixed navbar */
  margin-bottom: 40px;            /* leave space for footer */
}

footer {
  color: white;
  background: #222222;
  padding-top: 8px;
}

footer a:link, a:visited {
  color: #9D9D9D;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'Raleway';
  font-weight: 800;
  text-shadow: 2px 2px 4px #aaa;
}

h2 {
  font-family: 'Raleway';
  font-weight: 600;
  text-shadow: 1px 1px 2px #aaa;
}

h3 {
  font-family: 'Raleway';
}

.os-logo img {
  width:  5em;
  height: 5em;
  margin-right: 2em;
}

.os-faded img {
  opacity: 0.3;
}

.os-choose img {
  opacity: 0.8;
}

.os-choose:hover img {
  opacity: 1.0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item,".") ". ";
  margin-left: -20px;
}

ol ol > li:last-child {
  margin-bottom: 10px;
}

.btn {
  font-family: 'Raleway';
  font-weight: 600;
}

.btn-lg {
  font-weight: 800;
}

/* missing from bootstrap-3.7 */
.embed-responsive-1by1 {
  padding-bottom: 100%;
}

