
.jumbotron {
  color: white;
  background: #1F1528;
}

body {
  padding-top: 50px;              /* leave space for fixed navbar */
}

footer {
  color: white;
  background: #222222;
  padding-top: 8px;
}

footer a:link, a:visited {
  color: #9D9D9D;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

/* missing from bootstrap-3.7 */
.embed-responsive-1by1 {
  padding-bottom: 100%;
}

